:root {
    --pink-color: #cd1e76;
    --black-color: #232323;
    --gray-color: #8a8a8a;
}
*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.footer
{
    width: 100%;
    padding: 30px 40px;
    background: #f6f6f6;
}
.footer .container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
}
.footer .container .left-box {
    width: 100%;
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    /* border-right: 2px solid #b8b7b7; */
}
.footer .container .left-box .box
{
    display: flex;
    padding: 10px 20px;
    margin-top: 15px;
    gap: 10px;
    width: 100%;
}
.footer .container .left-box .box .icon_box
{
    font-size: 26px;
    color: var(--pink-color);
}
.footer .container .left-box .box .detail
{
    margin-left: 10px;
}
.footer .container .left-box .box .detail h3
{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--pink-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.footer .container .left-box .box .detail p
{
    font-size: 14px;
    color: var(--black-color);
}
.footer .container .right_box {
    padding: 10px 20px;
    width: 100%;
}
.footer .container .right_box .header
{
    max-width: 100%;
    text-align: center;
}
.footer .container .right_box .header img {
    width: 150px;
    height: 90px;
}
.footer .container .right_box .header p
{
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: var(--gray-color);
    text-align: start;
}
.footer .container .right_box .bottom
{
    padding: 20px 20px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}
.footer .container .right_box .bottom .box
{
    padding: 10px 20px;
    text-align: center;
}
.footer .container .right_box .bottom .box h3
{
    text-transform: uppercase;
    color: var(--black-color);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: start;
}
.footer .container .right_box .bottom .box ul
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: start;
    padding-left: 0;
}
.footer .container .right_box .bottom .box ul li
{
    list-style: none;
    margin-top: 5px;
    color: var(--gray-color);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.footer .container .right_box .bottom .box ul li:hover
{
    color: var(--pink-color);
}
@media (min-width: 576px) {
    .footer .container .right_box .bottom {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer .container .right_box .bottom .box {
        width: calc(50% - 7.5px);
    }
}
@media (min-width: 768px) {
    .footer .container .right_box .bottom .box {
        width: calc((100% / 3) - 10px);
    }
    .footer .container .left-box .box {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .footer .container .right_box {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1400px) {
    .footer .container .left-box .box {
        width: 25%;
    }
}