:root {
    --pink-color: #cd1e76;
    --yellow-color: #fed700;
    --black-color: #232323;
    --gray-color: #8a8a8a;
}
*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.shop
{
    width: 100%;
    padding: 20px 30px;
}
.shop h2
{
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: var(--black-color);
    font-size: 32px;
    font-weight: 300;
}
.shop p
{
    margin-top: 5px;
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 600;
}
.shop .container
{
    max-width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.shop .right_box .banner {
    display: none;
}
.shop .container .left_box
{
    width: 100%;
}
.shop .container .left_box .category
{
    border: 3px solid #f6f6f6;
    /* width: 250px; */
    width: 100%;
}
.shop .container .left_box .category .header
{
    max-width: 100%;
    padding: 10px 20px;
    background: #f6f6f6;
}
.shop .container .left_box .category .header h3
{
    font-size: 16px;
    color: var(--black-color);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.shop .container .left_box .category .box
{
    margin-top: 0px;
    width: 100%;
    padding: 10px 20px;
}
.shop .container .left_box .category .box ul
{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-left: 0;
    max-width: 100%;
}
.shop .container .left_box .category .box ul li
{
    list-style: none;
    margin-left: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-color);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .left_box .category .box ul li:hover
{
    color: var(--black-color);
}
.shop .container .left_box .banner
{
    margin-top: 20px;
    width: 250px;
    display: none;
}
@media (min-width: 1200px) {
    .shop .container .left_box .banner,
    .shop .right_box .banner {
        display: block;
    }
    .right_box .banner .img_box {
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
        height: 250px;
        margin-top: 15px;
        border-radius: 5px;
        overflow: hidden;
    }
    .right_box .banner .img_box img:first-of-type {
        width: calc(75% - 5px) !important;
    }
    .right_box .banner .img_box img:last-of-type {
        width: 25% !important;
    }
    .shop .container {
        flex-direction: row;
        gap: 20px
    }
    .shop .container .left_box {
        width: 25%;
    }
    .right_box .banner .img_box {
        margin-top: 0;
    }
    .shop .container .left_box .category .box ul {
        flex-direction: column;
    }
    .shop .container .right_box .product_box {
        padding: 10px 0 10px 0;
    }
}
.shop .container .left_box .banner .img_box img
{
    width: 100%;
    object-fit: cover;
}
.shop .container .right_box
{
    width: 100%;
}
.shop .container .right_box .banner
{
    max-width: 100%;
}
.shop .container .right_box .banner .img_box img
{
    width: 100%;
    object-fit: cover;
}
.shop .container .right_box .product_box
{
    max-width: 100%;
    padding: 10px 10px;
}
.shop .container .right_box .product_box h2 {
    color: #232323;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    margin-top: 20px;
}
.shop .container .right_box .product_box .product_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop .container .right_box .product_box .product_container .box
{
    padding: 10px 10px;
    width: 270px;
    height: 380px;
    overflow: hidden;
    border: 3px solid #f6f6f6;
    margin-left: 15px;
    margin-top: 20px;
}
.shop .container .right_box .product_box .product_container .box .img_box
{
    display: flex;
}
.shop .container .right_box .product_box .product_container .box .img_box img
{
    width:100%;
    height: 250px;
}
.shop .container .right_box .product_box .product_container .box .img_box .icon
{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 40px;
    transition: 0.5s;
}
.shop .container .right_box .product_box .product_container .box .img_box .icon li
{
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 10px;
    margin-top: 10px;
    color: var(--gray-color);
    background: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .right_box .product_box .product_container .box .img_box .icon li:hover
{
    color:#ffffff;
    background: var(--pink-color);
}
.shop .container .right_box .product_box .product_container .box:hover .img_box .icon
{
    margin-left: -60px;
}
.shop .container .right_box .product_box .product_container .box .detail
{
    margin-top: 10px;
    width: 100%;
}
.shop .container .right_box .product_box .product_container .box .detail h3
{
    text-align: center;
    color: var(--black-color);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.shop .container .right_box .product_box .product_container .box .detail p
{
    margin-top: 5px;
    text-align: center;
    color: var(--pink-color);
    font-size: 16px;
}
.shop .container .right_box .product_box .product_container .box .detail button
{
    margin-top: 10px;
    display: block;
    margin-inline: auto;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: var(--black-color);
    background: var(--yellow-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .right_box .product_box .product_container .box .detail button:hover
{
    color: var(--yellow-color);
    background: var(--black-color);
}
.product_detail {
    background: #fff;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 3px 20px 20px #00000017;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px 18px;
    position: fixed;
    top: 50%;
    width: 85%;
    z-index: 999999999999;
}
.product_detail .close_btn
{
    float: right;
    border: none;
    outline: none;
    background: none;
    color: var(--pink-color);
    font-size: 22px;
    cursor: pointer;
}
.product_detail .container
{
    width: 100%;
    display: flex;
}
.product_detail .container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.product_detail .container .img_box img {
    height: 187px;
    width: 256px;
}
.product_detail .container .info {
    padding: 10px;
}
.product_detail .container .info h4
{
    color: var(--gray-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.product_detail .container .info h2 {
    margin-top: 10px;
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.product_detail .container .info p
{
    margin-top: 10px;
    color: var(--gray-color);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}
.product_detail .container .info h3 {
    margin-top: 10px;
    font-size: 20px;
    color: var(--pink-color);
}
.product_detail .container .info button {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 14px 30px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: none;
    background: var(--pink-color);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.product_detail .container .img_box {
    background: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin: auto;
}
@media (min-width: 1200px) {
    .product_detail .container {
        flex-direction: row;
        gap: 29px;
    }
    .product_detail .container .info button {
        margin-top: 30px;
    }
}
@media (max-width: 576px) {
    .product_detail .container .img_box img {
        height: 150px;
        width: 150px;
    }
}